.root {
    display: grid;
    gap: 0.75rem;
    padding-top: 0.75rem;
}
.root strong {
    font-family: 'Karla-Bold';
}
.root:empty {
    display: none;
}
.root a,
.root a:hover {
    color: var(--primary-dark-color);
    display: block;
}
.root a p {
    margin-bottom: 0;
}
