<!DOCTYPE html>
<html lang="<%= global.LOCALE %>" data-image-optimizing-origin="<%= process.env.IMAGE_OPTIMIZING_ORIGIN %>"
  data-media-backend="<%= global.MAGENTO_MEDIA_BACKEND_URL %>">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="shortcut icon" href="/cenia-static/favicon.ico" />

  <title>Home Page - <%= STORE_NAME %></title>

  <!--
            Apple Specific Tags

            To be included until Safari supports WebAppManifest
            See Docs:
            - https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
            - https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html
        -->
  <!--
            Apple Icons for Homescreen
            Sizes: https://developer.apple.com/design/human-interface-guidelines/ios/icons-and-images/app-icon/
        -->
  <link rel="apple-touch-icon" href="/cenia-static/icons/cenia_square_57.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/cenia-static/icons/apple-touch-icon.png" />
  <link rel="preconnect" href="<%= process.env.MAGENTO_BACKEND_URL %>" />
  <link rel="preload" href="/cenia-static/fonts/Jost-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/cenia-static/fonts/Jost-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/cenia-static/fonts/Jost-Bold.woff2" as="font" type="font/woff2" crossorigin>

</head>

<body>
  <div id="root"></div>

  <!-- Fallback for when JavaScript is disabled. -->
  <noscript>
    <style>
      .fallback-nojs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .fallback-nojs a {
        color: currentColor;
      }

      .fallback-closed {
        height: 40vh;
      }
    </style>
    <div class="fallback-nojs">
      <img class="fallback-closed" alt="JavaScript is disabled" src="/cenia-static/ceniaClosed.png" />
      <h1 class="fallback-heading">Oops! JavaScript is disabled</h1>
      <div>
        To browse the Cenia store,<br />
        <a href="https://www.enable-javascript.com">enable JavaScript in your browser.</a>
      </div>
    </div>
  </noscript>
</body>

</html>