.root {
    background: var(--primary-light-color);
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: var(--primary-box-shadow);
}
.product_details_right {
    padding: 0 15px 15px 15px !important;
    order: 2;
    flex: 0 0 60%;
    min-width: 60%;
}
.produtc_right_section {
}
.add_to_project {
    background: #007637;
    border-radius: 5px;
    padding: 10px 10px;
    min-height: 40px;
    line-height: 20px;
    width: 100%;
    color: white;
}
.add_to_project:hover {
    background: black;
}
.total_available {
    background: #8cc650;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    max-width: 150px;
}
.total_available_b {
    font-size: 10px;
}
.stepback {
    color: var(--primary-dark-color);
}

.stepback:hover {
    color: var(--primary-base-color);
}

.productName {
    font-size: 20px;
    color: var(--primary-dark-color);
    margin-bottom: 10px;
    line-height: 25px;
}
.price_details_wrap {
}
.social_share_wrap {
    margin: 40px 0 0 0;
}
.social_share_wrap button {
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
}
.social_share_wrap button:hover {
    transform: translateY(-5px);
}
.social_share_wrap svg {
    width: 30px;
    height: 30px;
}
.price_details_wrap > span {
    color: var(--primary-dark-color);
    padding: 0px 5px 0 0;
}
.social_text {
    color: var(--primary-light-color);
    padding: 0px 5px;
}
.productPrice {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
}

.productPrice span {
    display: inline-block;
    font-size: 15px;
    font-family: 'Karla-Medium' !important;
    color: var(--primary-dark-color);
}
.review_section {
    margin-top: 20px;
    margin-bottom: 20px;
}
.review_message {
    color: var(--primary-slider-nav-color);
    border: 1px solid var(--primary-slider-nav-color);
    padding: 7px;
}
.root_error {
    margin-bottom: 0;
    color: var(--primary-error-color);
}
.success_message {
    color: var(--primary-success-color);
    background: #01800117;
    padding: 10px;
}
.success_message svg {
    color: var(--primary-success-color);
}
.user_account_links {
}
.user_account_links button,
.user_account_links a {
    color: var(--primary-base-color);
    text-decoration: underline !important;
}
.review_stars_wrapper {
    display: inline-block;
}
.not_reviewed {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    display: block;
    padding: 0;
    overflow: hidden;
    color: var(--primary-ratingstars-color);
    white-space: nowrap;
    line-height: 14px;
}
.reviewed {
    padding: 0;
    display: block;
    z-index: 0;
    white-space: nowrap;
    color: var(--primary-border-color);
    line-height: 14px;
}
.not_reviewed svg,
.reviewed svg {
    font-size: 11px;
    margin-right: 5px;
}
.rating_label {
    margin-left: 8px;
    line-height: 18px;
    display: inline-block;
    color: var(--primary-text-color);
}
.total_stars span {
    font-size: 14px;
    display: inline-block;
}
.total_reviews {
    border-left: 1px solid var(--primary-border-color);
    padding-left: 30px !important;
    line-height: 17px;
}
.total_reviews span,
.total_reviews a:hover {
    color: var(--primary-base-color);
    display: inline-flex;
    text-decoration: underline !important;
    font-size: 14px;
}
.stock_info span {
    font-size: 15px;
    line-height: 20px;
}
.out_of_stock span {
    color: var(--primary-error-color);
}
.in_stock span {
    color: var(--primary-success-color);
}
.sku_details {
}
.sku_details_label {
    color: var(--primary-slider-nav-color);
    margin-right: 5px;
}
.out_of_stock {
    color: var(--primary-error-color);
}
.options {
    grid-area: options;
    margin: 20px 0;
}
.options_wrap {
    background-color: var(--primary-light-color);
}
.qty_cart_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.quantity {
    margin-right: 25px;
    flex: 0 0 30%;
    min-width: 30%;
    position: relative;
    top: -26px;
}
.cartActions {
}
.cartActions button {
    width: 49%;
    margin-right: 1%;
}
.loader_case_wrapp {
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
    margin-right: 20px;
}
.modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
}
.modal.modal_active {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}
.galler_modal_active {
    background-color: var(--primary-dark-color);
}
.loader_div {
    width: 100%;
    box-sizing: border-box;
    display: table;
    height: 100%;
}
.ball_pulse {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-top: 5px;
}
@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }
    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }
    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
.ball_pulse > div:nth-child(1) {
    -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
    animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.ball_pulse > div:nth-child(2) {
    -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
    animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.ball_pulse > div:nth-child(3) {
    -webkit-animation: scale 0.75s 0s infinite
        cubic-bezier(0.2, 0.68, 0.18, 1.08);
    animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.ball_pulse > div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
}
.bundle_rpoduct_wrap {
    margin-top: 20px;
}
.bundle_form_popup {
    composes: root from '../AccountMenu/accountMenu.css';
    opacity: 1;
    visibility: visible;
}
.form_wrror span[class='formError-errorMessage-3yT'] {
    color: var(--primary-error-color);
    display: block;
    margin: 10px 0;
}
.quantity_wrap {
    margin: 20px 0;
}
.qty_icon {
    margin-right: 10px;
}
.qty_number {
    font-size: 14px;
    color: var(--primary-text-color);
}
.wishlist_icon_wrap {
    composes: wishlist_icon_wrap from '../CedHome/home.css';
}
.wishlist_addition svg {
    color: var(--primary-border-color);
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
}
.wishlist_added .wishlist_icon_wrap {
    background-color: var(--primary-base-color);
    border-color: var(--primary-base-color);
}
.wishlist_added svg,
.wishlist_icon_wrap:hover {
    color: var(--primary-light-color) !important;
    font-size: 16px;
}

/* tabs */
.tabs_wrap {
    display: none;
    padding-top: 20px;
    margin-top: 30px;
}
.tab_list {
    border: 0 !important;
    margin-bottom: 10px;
    border-radius: 0 !important;
}
.card_header {
    padding: 0 !important;
    border: 0 !important;
}
.card_header .product_tabs_list {
    display: flex;
    padding: 10px;
    text-align: left;
    background: var(--primary-light-color);
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
}
.card_header .product_tabs_list:hover span,
.card_header .product_tabs_list:hover {
    text-decoration: unset !important;
}
.card_header .product_tabs_list:hover span,
.card_header .product_tabs_list[aria-expanded='true']:hover span {
    color: var(--primary-base-color) !important;
}
.card_header .product_tabs_list[aria-expanded='true'] .tabs_arrow {
    transform: rotate(180deg);
}
.card_header .product_tabs_list span {
    font-size: 15px;
    color: var(--primary-dark-color);
    font-family: 'Karla-Medium' !important;
}
.tabs_arrow {
    transition: 0.3s all;
}
.tabs_content_custom {
    padding: 20px 10px !important;
}
.more_info_content {
    margin-bottom: 10px;
}
.more_info_content span {
    display: inline-block;
    color: var(--primary-text-color);
}
.description {
    align-self: stretch;
    border-top-width: 1px;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    grid-column: 1 / span 1;
    grid-row: fold / span 1;
}

/* review tabs */
.overall_product_review_wrap {
    background: var(--secondary-mobile-newsletter-color);
    padding: 20px;
}
.rating_histogram {
    width: calc(100% - 140px);
    margin: 0 auto;
}
.histogram_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.histogram_star_number {
    flex: 0 0 10%;
    min-width: 10%;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
}
.histogram_star_icon {
    height: 11px;
    line-height: 8px;
}
.histogram_star_icon svg {
    font-size: 8px;
    margin-left: 5px;
}
.histgram_rating_progress {
    flex: 0 0 75%;
    min-width: 75%;
}
.histgram_rating_outer,
.histgram_rating_inner {
    overflow: hidden;
    background-color: var(--primary-border-color);
    height: 4px;
    display: block;
    border-radius: 10px;
}
.histgram_rating_inner {
    width: 50%;
    background: var(--primary-base-color);
}
.histogram_rating_percentage {
    flex: 0 0 10%;
    min-width: 10%;
    display: inline-flex;
    justify-content: flex-end;
}
.overall_product_rate {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.overall_product_rate .rating_result {
    margin-bottom: 10px;
    display: inline-block;
}
.overall_product_rate .rating_result svg {
    font-size: 13px;
}
.overall_text {
    margin: 0;
    font-size: 16px;
    color: var(--primary-dark-color);
    font-family: 'Karla-Medium' !important;
    margin-left: 10px;
}
.overall_text span {
    font-family: 'Karla-Medium' !important;
}
.give_review_wrap {
    text-align: center;
    margin: 25px 0;
    border-bottom: 1px solid var(--primary-border-color);
    padding-bottom: 30px;
}
.no_review_message {
    text-align: left;
    border-bottom: 1px solid var(--primary-text-color);
    padding: 10px 0;
    color: var(--primary-slider-nav-color);
}
.give_review_head {
    font-family: 'Karla-Medium';
    color: var(--primary-dark-color);
    font-size: 18px;
}
.give_review_butotn {
    background: var(--primary-dark-color);
    color: var(--primary-light-color);
    padding: 10px 15px;
    border-radius: 3px;
    margin-top: 8px;
}
.add_review_wrapper {
}
.add_review_title {
    font-size: 17px;
    font-family: 'Karla-Medium';
    color: var(--primary-dark-color);
    margin-bottom: 30px !important;
}
.custom_review_stars {
}
.revire_form_popup {
    opacity: 0;
    visibility: hidden;
    z-index: 9999999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--primary-box-shadow);
    overflow-y: auto;
    height: 100%;
    width: 100%;
}
.revire_form_popup.active {
    opacity: 1;
    visibility: visible;
}

.project_button {
    text-align: center;
    width: 22% !important;
    background: #8dc74c;
    height: 35px;
    border-radius: 5px;
    color: white;
    margin-left: 2%;
}

.project_dropdown {
    width: 100%;
    margin-top: 0px;
    border-radius: 3px;
    height: 35px;
    margin-bottom: 5px;
    border: 2px solid #e1e1e1;
}

.project_input {
    width: 75%;
    margin-top: 0px;
    border-radius: 3px;
    height: 35px;
    margin-bottom: 5px;
    border: 2px solid #e1e1e1;
}

.overlay {
    width: 100%;
    height: 150%;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000082;
}
.review_form_inner {
    width: 900px;
    transform: translate(0%, 0%);
    z-index: 999999;
    box-shadow: var(--primary-box-shadow);
    margin: 2% auto;
    position: relative;
}
.review_form_wrapper {
    background: var(--primary-light-color);
    padding: 20px;
}
.close_popup {
    text-align: right;
    margin-bottom: 20px;
}
.close_popup img {
    cursor: pointer;
}
.review_form_wrap {
}
.rate_text {
    color: var(--primary-dark-color);
    margin-bottom: 10px !important;
    text-align: center;
    font-size: 15px;
}
.user_ratings_wrapper {
    text-align: center;
    margin-top: 25px;
}
.rating_title {
    display: block;
    color: var(--primary-dark-color);
    margin-bottom: 5px;
    font-size: 15px;
    font-family: 'Karla-Medium' !important;
}
.rating_outer {
    display: inline-flex;
    align-items: center;
}
.star_wrapper {
}
.star_wrapper input {
    display: none;
}
.activeSelect.rating_str + .star svg {
    color: var(--primary-ratingstars-color);
}
.rating_str {
}

.star_wrapper label {
    cursor: pointer;
    color: var(--primary-border-color);
    font-size: 11px;
    margin-bottom: 0;
    padding: 5px;
    transition: 0.3s all;
}
.star_wrapper input:checked + label,
.star_wrapper label:hover svg {
    color: var(--primary-ratingstars-color);
}
.star {
    font-size: 11px;
    margin-right: 5px;
}
.product_ratingform_wrapper {
    display: grid;
    row-gap: 0.9375rem;
}
.form_field {
}
.product_ratingform_submit button {
    width: 100%;
}
.review_submit_button {
    display: inline-block;
    background: var(--primary-base-color);
    color: var(--primary-light-color);
    height: 41px;
    border-radius: 3px;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 100%;
    transition: 0.3s all;
}
.review_submit_button:hover {
    background: var(--primary-dark-color);
}
.customer_review {
}
.block_title {
}
.review_heading {
    display: block;
    color: var(--primary-dark-color);
    font-size: 18px;
    font-family: 'Karla-Medium';
    margin-bottom: 30px !important;
    font-weight: normal;
}
.blockcontent {
}
.customer_reviews_list {
    max-height: 350px;
    overflow: auto;
}
.review_items {
}
.review_item {
    border-bottom: 1px solid var(--primary-border-color);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.review_title {
    font-size: 13px;
    color: var(--primary-dark-color);
    margin-top: 4px;
}
.review_ratings {
}
.rating_summary {
    margin-top: 3px;
}
.rating_label {
}
.product_rating {
    display: inline-flex;
    color: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
    line-height: 18px;
    padding: 0px 7px;
    font-size: 10px;
    border-radius: 3px;
}
.rating_result {
    position: relative;
}
.cust_review_head {
    display: flex;
    flex-wrap: wrap;
}
.customer_first_let {
    margin-right: 20px;
}
.cust_name_firstlet {
    display: inline-flex;
    min-width: 40px;
    min-height: 40px;
    border: 1px solid var(--primary-dark-color);
    border-radius: 50%;
    background: var(--primary-border-color);
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.review_content {
}
.review_content p {
    color: var(--primary-dark-color);
    margin: 20px 0 0 0 !important;
}
.custom_details_review {
}
.review_details {
}
.review_author {
}
.review_details_label {
}
.user_name {
    color: var(--primary-slider-nav-color);
    font-weight: normal;
}
.review_date {
}
.review_details_value {
    font-size: 10px;
    color: var(--primary-slider-nav-color);
}

.productFullDetail h3 {
    font-size: 12px;
}

/* image crousel */
.imageCarousel {
    flex: 0 0 40%;
    min-width: 40%;
    border-right: 1px solid var(--primary-border-color);
    position: relative;
    padding-right: 15px;
}
.imageCarousel {
    grid-area: images;
    grid-column: 1 / 2;
    grid-row: 1 / fold;
    margin: 0 auto;
    max-width: 640px;
}
.imageCarousel_inner {
    position: sticky;
    top: 170px;
}
.imageCarousel_inner button[class='image-gallery-icon image-gallery-right-nav'],
.imageCarousel_inner button[class='image-gallery-icon image-gallery-left-nav'],
button[class='image-gallery-icon image-gallery-fullscreen-button'] {
    filter: unset !important;
}

button[class='image-gallery-thumbnail'],
button[class='image-gallery-thumbnail active'],
button[class='image-gallery-thumbnail']:hover,
button[class='image-gallery-thumbnail']:focus {
    border-color: var(--primary-base-color) !important;
    border-width: 2px !important;
    width: 80px !important;
    margin-left: 5px !important;
    height: 80px !important;
}
button[class='image-gallery-thumbnail'] {
    border-color: var(--primary-border-color) !important;
}
div[class='image-gallery-thumbnail-inner'],
img[class='image-gallery-thumbnail-image'],
span[class='image-gallery-thumbnail-inner'] {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
button[class='image-gallery-icon image-gallery-left-nav'] svg,
button[class='image-gallery-icon image-gallery-right-nav'] svg {
    width: 25px !important;
    background: var(--primary-dark-color);
    height: 25px !important;
    border-radius: 50%;
    color: var(--primary-light-color);
    transition: 0.3s all;
}
button[class='image-gallery-icon image-gallery-left-nav']:hover svg,
button[class='image-gallery-icon image-gallery-right-nav']:hover svg {
    background: var(--primary-base-color);
}
button[class='image-gallery-icon image-gallery-fullscreen-button'] svg {
    color: var(--primary-text-color);
}
div[class='image-gallery custom_slider image-gallery-using-mouse'] {
    background: var(--primary-light-color) !important;
    z-index: 9;
}

div[class='image-gallery custom_slider image-gallery-using-mouse']
    div[class='image-gallery-content bottom fullscreen'] {
    width: calc(100% - 600px);
    margin: 0 auto;
    background-color: var(--primary-light-color) !important;
}
div[class='image-gallery custom_slider image-gallery-using-mouse']
    div[class='image-gallery-thumbnails-container'] {
    margin: 0;
}
.wishlist_carousel_Wrap {
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 99;
}
.wishlist_carousel_Wrap .wishlist_icon_wrap {
    opacity: 1;
    position: unset;
    width: 40px;
    height: 40px;
}

/* slider */
.section {
    padding: 1.5rem 0;
}
.noo_product_item {
    composes: products_grid_item from '../CedHome/home.css';
}
.noo_product_inner:hover .noo_details_wrapper {
    bottom: 0;
}
.noo_product_inner:hover .add_to_cart_Wrap {
    opacity: 1;
    visibility: visible;
}
.noo_product_image {
    position: relative;
}
.noo_product_image a {
    display: block;
    position: relative;
    overflow: hidden;
}

.owl_thme_design {
    composes: owl_thme_design from '../CedHome/home.css';
}
.h_products_wrap {
}
.h_products {
    composes: h_products from '../CedHome/home.css';
}
.h_products button span[aria-label='Next'],
.h_products button span[aria-label='Previous'] {
    font-size: 26px;
    background-color: #000;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 27px;
    color: var(--primary-light-color);
    transition: 0.3s all;
}
.h_products button:hover span {
    background-color: var(--primary-base-color);
    color: var(--primary-light-color);
}
.h_products button span[aria-label='Next'] {
    right: -0px;
}
.h_products button span[aria-label='Previous'] {
    left: -0px;
}

/* ================related products============== */
.related_prodcuts_wrapper {
}
/* .section_heading p {
	font-size: 14px;
	margin: 0;
	color: var(--primary-dark-color);
} */
.section_title {
    composes: homepage_section_heading from '../CedHome/home.css';
}
.noo_product_inner:hover .wishlist_icon_wrap {
    opacity: 1;
    right: 10px;
}

.add_to_cart_Wrap {
    composes: add_to_cart_Wrap from '../CedHome/home.css';
}
.add_to_cart_btn,
.add_to_cart_btn:hover {
    background: var(--primary-base-color);
    color: var(--primary-light-color);
    text-align: center;
    padding: 10px 10px;
    font-size: 14px;
    width: 100%;
    display: block;
    border-radius: 3px;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
}

.noo_details_wrapper {
    composes: noo_details_wrapper from '../CedHome/home.css';
}
.vendor_price_wrap {
    composes: vendor_price_wrap from '../CedHome/home.css';
}
.vendor_name {
    composes: vendor_name from '../CedHome/home.css';
}
.price {
}
.price span,
.price {
    font-size: 15px;
    font-family: 'Karla-Medium' !important;
    display: inline-block;
}
.product_name {
    composes: product_name from '../CedHome/home.css';
    /* margin:0px 0 5px 0; */
}
.h_products .slider_container {
    padding: 0 !important;
}
.noo_product_inner:hover .product_name > a {
    color: var(--primary-base-color);
}
.colors_stars_wrap {
    composes: colors_stars_wrap from '../CedHome/home.css';
}
.colors_wrap {
    composes: colors_wrap from '../CedHome/home.css';
}
.colors_inner {
    composes: colors_inner from '../CedHome/home.css';
}
.extra_colors {
    composes: extra_colors from '../CedHome/home.css';
}
.stars_wap {
    composes: stars_wap from '../CedHome/home.css';
}
.not_reviewed {
    composes: not_reviewed from '../CedHome/home.css';
}
.reviewed {
    composes: reviewed from '../CedHome/home.css';
}

/* custom options */
.option_heading {
    font-size: 14px;
    color: var(--primary-dark-color);
    font-family: 'Karla-Medium';
}
.field_wrap {
}
.custom_options {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('/cenia-static/images/select.png');
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 10px;
}
.custom_options,
.options input,
.options textarea {
    background-color: var(--primary-light-color);
    border: 1px solid var(--primary-border-color);
    width: 100%;
    padding: 5px 10px;
    border-radius: 3px;
    height: 35px;
}
.options textarea {
    min-height: 100px;
}
.radio_option_heading {
    padding-left: 30px;
    position: relative;
    cursor: pointer;
}
.radio_option_heading::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    display: block;
    border: 2px solid var(--primary-border-color);
    border-radius: 50%;
    margin-top: -10px;
}
.radio_option_heading::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--primary-base-color);
    display: none;
}
.radio_custom_option input:checked + .radio_option_heading::after {
    display: block;
}
.radio_custom_option input:checked + .radio_option_heading::before {
    border-color: var(--primary-base-color);
}
.radio_custom_option {
}
.radio_custom_option input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.options_wrap .options:nth-child(3) input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    cursor: pointer;
}
.options_wrap .options:nth-child(3) input[type='checkbox']:before {
    background: #fff;
    content: '';
    width: 18px;
    position: absolute;
    left: 0;
    height: 18px;
    visibility: visible;
    border: 1px solid var(--primary-border-color);
}
.options_wrap .options:nth-child(3) input[type='checkbox']:checked:before {
    content: '';
    background: var(--primary-base-color);
    border-color: var(--primary-base-color);
}
.options_wrap .options:nth-child(3) input[type='checkbox']:checked:after {
    content: '';
    position: absolute;
    visibility: visible;
    left: 6px;
    top: 2px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0px 3px 3px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* rtl */
body[class='rtl_view'] .review_form_inner {
    width: 450px;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%) !important;
}
body[class='rtl_view'] .imageCarousel {
    border-left: 1px solid var(--primary-border-color);
    border-right: 0;
    padding-left: 15px;
    padding-right: 0;
}
body[class='rtl_view'] .review_stars_wrapper {
    margin-left: 20px;
}
body[class='rtl_view'] .total_reviews {
    border-right: 1px solid var(--primary-border-color);
    padding-right: 20px !important;
}
body[class='rtl_view'] .quantity {
    margin-right: 0;
    margin-left: 30px;
}
body[class='rtl_view'] .close_popup {
    text-align: left;
}
body[class='rtl_view'] .message_icon_wrapper {
    margin-left: 10px;
    margin-right: 0;
}
body[class='rtl_view'] .custom_options {
    background-position: 10px;
}
body[class='rtl_view'] .radio_option_heading {
    padding-left: 0;
    padding-right: 30px;
}
body[class='rtl_view'] .radio_option_heading::before {
    right: 0;
    left: unset;
}
body[class='rtl_view'] .radio_option_heading::after {
    left: unset;
    right: 5px;
}
body[class='rtl_view'] .not_reviewed {
    right: 0px;
    left: unset;
}
body[class='rtl_view'] .customer_first_let {
    margin-right: 0;
    margin-left: 20px;
}
body[class='rtl_view']
    .options_wrap
    .options:nth-child(3)
    input[type='checkbox'] {
    margin-left: 10px;
    margin-right: 0;
}
body[class='rtl_view'] .field_wrap {
    display: flex;
    align-items: center;
    text-align: right;
    margin-bottom: 10px;
}
body[class='rtl_view'] .field_wrap input {
    appearance: none;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    padding: 0;
    position: relative;
}
body[class='rtl_view'] .field_wrap input:checked {
    border-color: var(--primary-base-color);
}
body[class='rtl_view'] .field_wrap input:checked::after {
    background: var(--primary-base-color);
    width: 12px;
    height: 12px;
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -6px;
    margin-top: -6px;
}
body[class='rtl_view'] .field_wrap .option_heading {
    margin-right: 10px;
    margin-bottom: 0;
    cursor: pointer;
}
body[class='rtl_view'] .loader_case_wrapp {
    margin-left: 20px;
}
body[class='rtl_view'] .qty_icon {
    margin-left: 10px;
}

.shadow_section { padding: 0 0.5rem; }

@media screen and (min-width: 768px) and (max-width: 1050px) {
    .overall_product_review_wrap {
        padding: 10px;
    }
    .rating_histogram {
        width: calc(100% - 15px);
    }
    .loader_case_wrapp {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 20px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .shadow_section {
        box-shadow: var(--primary-box-shadow);
    }
    .options {
        margin: 10px 0;
        padding: 8px;
    }
    .stock_info {
        flex: 0 0 100%;
        min-width: 100%;
        padding: 0 !important;
        margin: 10px 0 !important;
    }
    .imageCarousel {
        background: var(--primary-light-color);
    }
    .imageCarousel_inner {
        position: unset;
    }
    div[class='image-gallery-thumbnails-wrapper left'] {
        display: none !important;
    }
    div[class='image-gallery custom_slider image-gallery-using-mouse']
        div[class='image-gallery-content bottom fullscreen'] {
        width: 100% !important;
        margin: 0 !important;
        background: var(--primary-light-color) !important;
        top: 50%;
        transform: translate(0%, -50%);
    }
    .wishlist_carousel_Wrap {
        position: absolute !important;
        top: 10px;
        right: 10px;
    }
    .add_to_cart_btn,
    .add_to_cart_btn:hover {
        width: 70%;
    }
    div[class='image-gallery-slide-wrapper left'] {
        width: 100% !important;
    }
    .productfull_wrapper {
        padding: 0px 15px !important;
    }
    .root {
        flex-wrap: wrap;
        background: var(--primary-bodybg-color);
        box-shadow: unset;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .root_inner {
        padding-top: 10px;
    }
    .product_details_right,
    .imageCarousel {
        flex: 0 0 100%;
        min-width: 100%;
        padding: 0 0 0px 0 !important;
        border: 0;
        margin-bottom: 10px;
    }
    .product_details_right {
        border-left: 0;
        padding-bottom: 0 !important;
    }
    .title,
    .qty_cart_wrap,
    .quantity_wrap {
        background: var(--primary-light-color);
        padding: 15px;
        margin: 10px 0;
    }
    .form_wrror span[class='formError-errorMessage-3yT'] {
        background: var(--primary-light-color);
        padding: 15px;
    }
    .productPrice span {
        font-size: 16px;
    }
    .total_reviews {
        padding-left: 15px !important;
    }
    .price {
        font-size: 13px;
    }
    /* quantity */
    .quantity {
        flex: 0 0 50%;
        min-width: 50%;
        margin-right: 0px;
    }
    .cartActions {
        padding: 0;
        min-width: 50%;
        flex: 0 0 50%;
        margin-right: 0;
    }
    .cartActions button {
        padding-top: 0px;
        padding-bottom: 0px;
        width: 100%;
    }
    .quantityTitle,
    .section_title_content {
        display: none;
    }
    .qty_control_wrap input {
        flex: 0 0 54px !important;
        max-width: 54px;
    }
    .qty_control {
        flex: 0 0 30px;
        height: 30px;
        line-height: 31px;
    }
    .user_loggedout .loader_case_wrapp {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .user_loggedout {
        width: 70% !important;
        margin: 0;
        padding: 10px 0 !important;
    }
    .social_share_wrap {
        margin: 10px 0 0 0;
        display: block;
        width: 100%;
    }
    .social_text {
        display: none;
    }

    .write_review_wrap,
    .sizes_progress_wrap {
        flex: 0 0 100%;
        text-align: center;
        margin-top: 20px;
    }
    .review_progress_Wrap,
    .slider_container,
    .product_page_container {
        padding: 0 !important;
    }
    .rating_histogram {
        width: calc(100% - 20px);
    }
    .overall_product_rate .rating_result {
        margin-bottom: 0;
    }
    .imageCarousel > div > div > div:nth-child(1) {
        border: 0;
        padding: 10px;
    }
    .imageCarousel > div > div > div:nth-child(1) + div {
        background: var(--primary-light-color);
    }
    div[class='image-gallery-thumbnails-container'] {
        margin: 10px 0;
    }
    .radio_option_heading::after {
        top: 6px;
    }
    .product_share_wishlist_button {
        right: 15px;
        top: 15px !important;
        z-index: 9;
    }
    .tabs_wrap {
        padding: 10px 0;
        background: var(--primary-light-color);
        margin-top: 10px;
    }
    .h_products {
        margin: 20px 0;
    }
    .store_lang_popup {
        min-height: 100vh;
    }
    .wishlist_addition {
        right: 10px;
    }
    .overall_product_review_wrap {
        padding: 10px;
    }
    .customer_first_let {
        margin-right: 0;
        flex: 0 0 100%;
        margin-bottom: 10px;
    }
    .overall_product_rate {
        margin: 10px auto 10px auto;
    }
    .tabs_content_custom {
        padding: 10px 0.5rem !important;
        color: var(--primary-text-color);
    }
    .review_form_wrapper {
        padding: 0px;
    }
    .review_form_wrap {
        padding: 15px;
    }
    .revire_form_popup {
        left: 0;
        transform: unset;
        top: unset;
        bottom: 0;
    }
    .review_form_inner {
        width: 100%;
        height: 100%;
        transform: unset;
        top: unset;
        bottom: 0;
        left: 0;
        background: var(--primary-light-color);
        margin-top: 0;
        margin-bottom: 0;
    }
    .bundle_rpoduct_wrap {
        margin-top: 20px;
        flex: 0 0 100%;
        margin-bottom: 20px;
        max-width: 100%;
    }
    .bundle_rpoduct_wrap button {
        width: 100%;
    }
    .bundle_form_popup {
        background: var(--primary-light-color);
    }
    body[class='rtl_view'] .review_form_inner {
        width: 100%;
    }
}
