:root {
    --category-sidebar-width: 325px;
}

.root {
    padding: 20px 0px;
}

.title {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
}

.pagination {
    position: relative;
    bottom: 0;
}

.placeholder {
    height: 100vh;
}
.categoyrpage_banner {
    margin-bottom: 20px;
}
.categoryTitle {
    color: var(--primary-dark-color);
    font-size: 30px;
    text-align: left;
    font-family: 'Karla-Medium' !important;
}

.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.categoryInfo {
    max-width: 75vw;
    color: var(--primary-slider-nav-color);
    font-size: 17px;
    margin-left: 15px !important;
}

.headerButtons {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    padding-bottom: 1.5rem;
}
.categoryContent {
    flex: 0 0 75%;
    min-width: 75%;
}
.contentWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
/* mobiel filter and sort btn */
.mobile_headerButtons {
    width: 100%;
    margin-bottom: 20px;
    z-index: 9999;
}
.mobile_headerButtons_inner {
    box-shadow: var(--primary-box-shadow);
    display: flex;
    flex-wrap: wrap;
    background: var(--primary-light-color);
}
.sort_btn_mobile {
    flex: 0 0 50%;
    min-width: 50%;
    justify-content: center;
    align-items: center;
    background: var(--primary-light-color);
}
/* rtl */
body[class='rtl_view'] .sidebar {
    padding-left: 15px;
    padding-right: 0;
}
body[class='rtl_view'] .categoryInfo {
    margin-right: 15px !important;
    margin-left: 0;
}

@media (min-width: 1024px) {
    .categoryHeader {
        width: 100%;
    }
    .headerButtons {
        justify-content: flex-end;
    }

    .heading {
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        padding-bottom: 1.5rem;
    }

    .headerButtons {
        padding-bottom: 0;
    }

    .categoryInfo {
        margin: 0;
        text-align: left;
    }

    .sidebar {
        flex: 0 0 25%;
        min-width: 25%;
        padding-right: 15px;
        align-self: flex-start;
        position: sticky;
        top: 170px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .categoryContent {
        flex: 0 0 100%;
        min-width: 100%;
    }
}
