.toolbar {
}
.toolbar_amount {
}
.toolbar_number {
}
.limiter {
}
.limiter_label {
}
.limiter_options {
}
.limiter_text {
}

.regularprice {
    display: inline-block;
    margin-left: 10px;
    position: relative;
}
.regularprice:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #b9b9b9;
    left: 0;
    top: 50%;
}
.regularprice span {
    font-size: 15px;
    color: #b9b9b9;
}

.greenprice span {
    color: #8cc650;
}

.discountedprice span {
    color: red;
}

.discountedprice:after {
    background-color: red;
}
.brand_name {
    text-align: center;
}
.brand_name p {
    font-weight: bold;
}
.move_item_static {
    display: none;
    margin-top: 10px;
    position: absolute;
}
.chevronUp{
    display: none;
}
.chevronDown{
    display: block;
}
.move_item {
    background: #007637;
    border-radius: 5px;
    padding: 10px 10px 10px 20px;
    display: flex;
    min-height: 35px;
    line-height: 15px;
    width: 100%;
    color: white;
    margin-top:10px;
    display: flex;
    justify-content: space-between;
}
.move_item:hover {
    background: black;
}
/* .move_item::after{
    content: '▾';
} */
.buttonMove{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}
.arrowDown {
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin: 0 10px;
    position: absolute;
    top: 52%;
    left:80%;
}
.move_confirm {
    background: #007637;
    border-radius: 5px;
    padding: 10px 10px;
    min-height: 35px;
    line-height: 15px;
    color: white !important;
    margin-top:10px;
    position: relative;
    top: -55px;
    left: 146px;
    width: 94% !important;
}
.move_confirm:hover {
    background: black;
}
.move_confirm span{
    color: white;
}
.products_wrapper {
    display: flex;
    flex-wrap: wrap;
}
.product_tiles {
    flex: 0 0 25%;
    padding: 0px 10px 10px 0px;
    border-radius: 3px;
    min-width: 250px;
    display: none;
    height: 550px;
}
.project_dropdown {
    width: 200px;
    /* margin-top: 20px; */
    border-radius: 3px;
    height: 35px;
    /* margin-bottom: 5px; */
    border: 2px solid #e1e1e1;
}
.input_rename {
    width: 150px;
    margin-right: 10px;
    height: 39px;
}
.rename_project {
    background: #007637;
    border-radius: 5px;
    padding: 10px 10px;
    min-height: 40px;
    line-height: 20px;
    width: 175px;
    color: white;
    /* margin-top: 30px; */
}

.wrapperMoveToCart{
    display: flex;
    align-items: center;
    gap: 20px;
    /* margin-left: 10%; */
}

.button_move_project {
    background: #FFCC00;;
    border-radius: 5px;
    padding: 10px 10px;
    height: 40px;
    line-height: 20px;
    color: black;
    /* margin-left: auto; */
}
.button_move_project:hover {
    background: black;
    color: white;
}
.button_move_project_yes {
    background: #007637;
    border-radius: 5px;
    padding: 10px 10px;
    min-height: 40px;
    line-height: 20px;
    width: 150px;
    color: white;
}
.button_move_project_no {
    background: #007637;
    border-radius: 5px;
    padding: 10px 10px;
    min-height: 40px;
    line-height: 20px;
    width: 150px;
    color: white;
    margin-left: 15px;
}

.nomProject{
    font-size: 32px;
}
#widn{
    font-size:32px;
}
.rename_project:hover {
    background: #000;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
}
.add_to_project {
    background: #007637;
    border-radius: 5px;
    padding: 10px 10px;
    display: block;
    min-height: 40px;
    line-height: 20px;
    min-width: 150px;
    color: white;
}
.add_to_project:hover {
    background: #000;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
}
.inner {
    background: #fff;
    padding: 10px;
}
.inner:hover {
    box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.1);
}
.product_img {
    min-height: 175px;
    text-align: center;
    position: relative;
}
.product_img img {
    max-height: 175px;
    
}
.product_details {
}
.product_name {
    min-height: 100px;
    composes: product_name from '../CedHome/home.css';
}
.product_name a {
    font-size: 17px !important;
}
.inner:hover .product_name a {
    color: var(--primary-base-color);
}
.wishlist_quantity {
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.price_label {
}
.price {
    font-size: 15px;
    font-family: 'Karla-Bold' !important;
    display: inline-block;
}
.quantity_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.label {
    font-size: 15px;
}
.qnt_input {
    margin: 0px 10px;
    border: 1px solid var(--primary-border-color);
}
.qnt_input span:nth-child(1) {
    border-right: 1px solid var(--primary-border-color);
}
.qnt_input span {
    padding: 5px 10px;
}
.qnt_input input {
    width: 45px;
    border: 0;
    border-right: 1px solid var(--primary-border-color);
    height: 34px;
    text-align: center;
    font-size: 14px;
    color: var(--ced-footer-link-color);
    padding: 6px;
}
.actions_wrapper {
    margin: 15px 0 0px 0;
    border-top: 1px solid var(--primary-border-color);
    padding: 10px 0 0 0;
}
.cart_icon {
    cursor: pointer;
}
.newadd_btn {
}
.add_btn_wrap {
}
.add_btn {
    padding: 7px;
}
.add_btn_wrap button {
    width: 100%;
}
.add_btn {
    color: var(--primary-light-color);
    background: #8dc74c;
    border-radius: 3px;
    display: block;
    text-align: center;
}

.add_btn:hover {
    background: #000;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
}

/* ----  switch button ------ */

.wrapperSwitchBtn{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.wrapperSwitchBtn h4 {
    margin-bottom: 0;
}

.wrapperSwitchBtn h4 span {
    color: #646464;
}

.wrapperSwitchBtnMessage {
    text-align: center;
    display: none;
}

.wrapperSwitchBtnMessage span {
    color: #646464;
}


.linkAccordeon{
    margin: 40px 0 0 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: var(--primary-base-color);
    cursor:pointer
}

.linkAccordeon p {
    margin-bottom: 0;
    color: var(--primary-base-color);
}

.linkAccordeon svg {
    color: var(--primary-base-color);
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-base-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--primary-base-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-base-color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

















/* ------------------------------ */
.delete_text {
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
    margin-bottom: 8px;
}
.delete_text svg {
    font-size: 15px;
    color: var(--secondary-dark-color);
}

.boxlink {
    text-align: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.boxlink a {
    width: 200px;
    border: 2px solid #007637;
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
    margin-top: 13px;
    display: inline-block;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    background: #007637;
}

.boxcategory {
    border: 2px solid #007637;
    margin: 10px;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    /* min-height: 350px; */
}

.boxcategory p {
    margin: 10px;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
}
/*media*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    .delete_text {
        margin-right: 10px;
    }
}
@media screen and (min-width: 991px) and (max-width: 1440px) {
    .move_confirm { 
        width: 73% !important;
    }

}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .wrapperSwitchBtnMessage {
        text-align: center;
        display: block !important;
    }
    .wrapperSwitchBtn h4 span {
        display: none;
    }
    .move_confirm { 
        top: unset;
        left: unset;
        width: 100% !important;
    }
    .block_dahsboard_wishlist {
        padding: 0;
    }
    .products_wrapper {
        justify-content: space-between;
        margin-top: 15px;
    }
    .product_tiles {
        flex: 0 0 48%;
        margin: 0px 0px 0px 0px;
        padding: 0;
        min-width: 48%;
    }
    .project_dropdown {
        width: 100%;
    }
    .product_img {
        min-height: 185px;
    }
    .add_to_project {
        margin: 20px 0 10px 0
    }
    .qty_control_wrap {
        height: 38px;
    }
    .wishlist_quantity {
        margin: 8px 0px;
    }
    .price_label {
        font-size: 14px;
    }
    .table_wrapper {
        margin-bottom: 10px;
    }
    .actions_wrapper a {
        flex: 0 0 100%;
        text-align: center;
    }
    .add_btn_wrap,
    .add_btn_wrap button {
        display: block;
        width: 100%;
    }
    .add_btn {
        background: var(--primary-base-color);
        color: var(--primary-light-color);
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
        border-radius: 3px;
    }
    .cart_icon + a {
        background: var(--primary-border-color);
        padding: 5px;
        border-radius: 3px;
    }
    .button_move_project {
        width: 100%;
    }
    .hidden_div {
        display: contents;
        text-align: center;
    }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
    .product_tiles {
        flex: 0 0 50%;
        min-width: 50%;
    }
    .wrapperMoveToCart{
        margin-left: 0%;
        width: 100%;
        align-items: flex-start;
        /* justify-content: space-between; */
    }
}
@media screen and (min-width: 320px) and (max-width: 524px) {

.arrowDown {
    display: none;
}
}


