.toolbar {
}
.toolbar_amount {
}
.toolbar_number {
}
.limiter {
}
.limiter_label {
}
.limiter_options {
}
.limiter_text {
}
.products_wrapper {
    display: flex;
    flex-wrap: wrap;
}
.product_tiles {
    flex: 0 0 33%;
    padding: 0px 10px 10px 0px;
    border-radius: 3px;
    min-width: 33%;
}
.inner {
    background: #fff;
    padding: 10px;
}
.inner:hover {
    box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.1);
}
.product_img {
    height: 255px;
}
.product_img a {
    height: 100%;
    display: block;
}
.product_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product_details {
}
.product_name {
    composes: product_name from '../CedHome/home.css';
}
.inner:hover .product_name a {
    color: var(--primary-base-color);
}
.wishlist_quantity {
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.price_label {
}
.price {
    font-size: 15px;
    font-family: 'Karla-Bold' !important;
    display: inline-block;
}
.quantity_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.label {
    font-size: 15px;
}
.qnt_input {
    margin: 0px 10px;
    border: 1px solid var(--primary-border-color);
}
.qnt_input span:nth-child(1) {
    border-right: 1px solid var(--primary-border-color);
}
.qnt_input span {
    padding: 5px 10px;
}
.qnt_input input {
    width: 45px;
    border: 0;
    border-right: 1px solid var(--primary-border-color);
    height: 34px;
    text-align: center;
    font-size: 14px;
    color: var(--ced-footer-link-color);
    padding: 6px;
}
.actions_wrapper {
    margin: 15px 0 0px 0;
    border-top: 1px solid var(--primary-border-color);
    padding: 10px 0 0 0;
}
.cart_icon {
    cursor: pointer;
}
.newadd_btn {
}
.add_btn_wrap {
}
.add_btn {
    padding: 7px;
}
.add_btn_wrap button {
    width: 100%;
}
.add_btn,
.add_btn:hover {
    color: var(--primary-light-color);
    background: var(--primary-base-color);
    border-radius: 3px;
    display: block;
    text-align: center;
}
.delete_text {
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
}
.delete_text svg {
    font-size: 15px;
    color: var(--secondary-dark-color);
}
/*media*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    .delete_text {
        margin-right: 10px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .block_dahsboard_wishlist {
        padding: 0;
    }
    .products_wrapper {
        justify-content: space-between;
        margin-top: 15px;
    }
    .product_tiles {
        flex: 0 0 48%;
        margin: 0px 0px 0px 0px;
        padding: 0;
        min-width: 48%;
    }
    .product_img {
        min-height: 185px;
    }
    .qty_control_wrap {
        height: 38px;
    }
    .wishlist_quantity {
        margin: 8px 0px;
    }
    .price_label {
        font-size: 14px;
    }
    .table_wrapper {
        margin-bottom: 10px;
    }
    .actions_wrapper a {
        flex: 0 0 100%;
        text-align: center;
    }
    .add_btn_wrap,
    .add_btn_wrap button {
        display: block;
        width: 100%;
    }
    .add_btn {
        background: var(--primary-base-color);
        color: var(--primary-light-color);
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
        border-radius: 3px;
    }
    .cart_icon + a {
        background: var(--primary-border-color);
        padding: 5px;
        border-radius: 3px;
    }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
    .product_tiles {
        flex: 0 0 50%;
        min-width: 50%;
    }
}
