.root {
}

@media (min-width: 961px) {
    .root {
        margin-top: 0;
        border-radius: 3px;
        padding-top: 0;
    }
}

.title {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}
