.root {
    display: grid;
    gap: 7px;
    justify-items: stretch;
}

.buttonContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.title {
    composes: title from '../../SignIn/signIn.css';
}
.title_message {
    text-align: center;
    margin-top: 20px;
    color: var(--ced-brown-text-color);
}
.instructions {
    margin-top: 20px;
    cursor: pointer;
}
.instructions:hover {
    text-decoration: underline;
    cursor: pointer;
}
.form_field input {
    padding: 10px;
}
.signInError {
    color: var(--ced-error-color);
}
