.root {
    display: grid;
    gap: 7px;
    justify-items: stretch;
}

.buttonContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.title {
    composes: title from '../../SignIn/signIn.css';
}
.title_message {
    text-align: center;
    margin-top: 20px;
    color: var(--ced-brown-text-color);
}
.instructionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 75px 0px 75px 0px;
}
.check {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-bottom: 20px;
}
.instructions {
    margin-top: 20px;
    cursor: pointer;
    color: var(--primary-base-color);
}
.instructions:hover {
    text-decoration: underline;
    cursor: pointer;
}
.form_field input {
    padding: 10px;
}
.signInError {
    color: var(--ced-error-color);
}
@media (max-width: 760px) {
    .instructionsContainer {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}
