.root {
    margin: 30px 0;
}
.cart_inner {
}
.body {
/*     display: grid;
    gap: 15px;
    grid-template-columns: 1fr 20rem;
 */    /* The summary grid item spans the entire right column. */
/*     grid-template-areas:
        'items summary'
        'adjustments summary';
 */
  display:flex;
  gap:15px;
  width:100%;
  flex-wrap: wrap;
 }
.review_order_button {
    composes: root_highPriority from '../Button/button.css';
    grid-column: 1 / span 1;
    margin: auto;
    min-width: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 10px;
    color: white;
}
.review_order_button:hover {
    color: white;
}
.heading_container {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 1rem;
    row-gap: 1rem;
}

.heading {
    color: var(--primary-dark-color);
    font-size: 25px;
    font-family: 'Karla-medium' !important;
}
.wrapperProducts .headingProducts{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #333;
}
.headingProducts{
    font-size: 16px;
    font-weight: 700;
    color: #333;
}
.headingProductsWithProject{
    font-size: 16px;
    font-weight: 700;
    color: #333;
    background-color:#8DC74C;
    padding:10px;
}
.signInLink span {
    color: var(--primary-base-color);
    font-size: 16px !important;
}
.signInLink {
    composes: root from '../LinkButton/linkButton.css';
    justify-self: flex-end;
}

.stockStatusMessageContainer {
    grid-column-end: span 2;
}
.item_container_wrap {
    background: var(--primary-light-color);
    padding: 20px;
    box-shadow: var(--primary-box-shadow);
    width:70%;
}
.noResult {
    display: flex;
    /* border-bottom: 1px solid var(--primary-slider-nav-color); */
    padding: 20px;
    color: var(--primary-slider-nav-color);
    width: 100%;
    align-items: center;
    justify-content: center;
}
.noResult_text {
    color: var(--primary-not-found-color);
    text-align:center;
    max-width: 180px;
    font-size:12px;
    font-weight: 500;
}
.circleIcon svg {
    width: 0.4em !important;
}
.wrapperProducts{
    display:flex;
    justify-content: space-between;
    margin: 0;
}
.wrapperProductsWithProject{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.wrapperProductsWithProject .headingProductsWithProject{
    font-size: 12px;
    font-weight: 700;
    color: #333;
    background-color: #8DC74C;
    padding: 14px;
    margin-bottom: 0;
}
.wrapperProductsFromProjects{
    display:flex;
    justify-content: space-between;
    margin: 0 5px 0 10px;
}

.wrapperValeurProduits{
    gap:8px;
    display:flex;
    padding: 10px;
}

.ctaUpdate {
    border: 2px solid #8dc74c;
    padding: 10px;
}

.ctaUpdate a{
    color: #8dc74c;
}

.ctaUpdate a:hover{
    color: #000;
}

.items_container {
    grid-area: items;
    border: 1px solid #EBEBEB;
    /* padding: 20px; */
    margin-bottom: 60px;
}
.items_container h3 {
    font-size: 15px;
}
.items_container_projet{
    grid-area: items;
    border: 1px solid #EBEBEB;
    margin: 0 0 20px 0;
}
/* .items_container_projet :first-child{
    margin-bottom:0 !important;
} */
.items_container_projet h3{
        font-size: 15px;
}
.price_adjustments_container {
    grid-area: adjustments;
    margin-top: 50px;
}

.summary_container {
    /* grid-area: summary; */
    min-width: 25%;
}

.summary_contents {
    position: sticky;
    top: 170px;
    background: var(--primary-light-color);
    box-shadow: var(--primary-box-shadow);
}
.cartpage_crosssellslider {
}
.add_to_cart_btn {
    min-width: 100%;
}
.h_products {
    padding: 15px;
    margin: 20px 0 10px 0;
    background-color: unset;
}
.owl_thme_design div[class='owl-nav disabled'] {
    display: block !important;
}

/*
 * Mobile-specific styles.
 */

@media (max-width: 960px) {
    .root {
        padding-left: 0;
        padding-right: 0;
    }
    .body {
        /* Only one column in mobile view. */
        grid-template-columns: 100%;
        grid-template-areas:
            'items'
            'adjustments'
            'summary';
    }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
    .root {
        margin-top: 40px;
    }
    .heading_container {
        margin-bottom: 0;
    }
    .item_container_wrap{
        width: 100%;
    }
    .summary_container {
        width: 100%;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .root {
        margin-top: 20px;
    }
    .heading {
        font-size: 18px;
    }
    .body {
        gap: 10px;
    }
    .h_products {
        background-color: var(--primary-light-color);
    }
}
