.products {
    border-top: 1px solid rgb(var(--venia-global-color-border));
    display: grid;
    gap: 0.75rem;
    padding-top: 0.75rem;
}

.products:empty {
    display: none;
}
.root {
}
.root li {
    margin: 0 0 10px 0;
    border-bottom: 1px dashed var(--primary-border-color);
    padding-bottom: 10px;
}
.item {
}

.suggestedProductsRender {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}

.suggestedProductsRender li{ 
    margin-bottom: 5px;
}
