/* @import './tokens.css'; */

:global(*) {
    box-sizing: border-box;
}

:global(html) {
    background-color: rgb(var(--venia-global-color-gray-50));
    font-size: 100%;
    line-height: var(--venia-global-lineHeight-100);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/*
 * Lock the window's scroll position while an overlay is active.
 * Has no effect in iOS Safari.
 * https://bugs.webkit.org/show_bug.cgi?id=153852
 *
 * :global(html[data-scroll-lock='true'] body) {
 *   overflow: hidden ;
 * }
 */

:global(body),
:global(button),
:global(input),
:global(select),
:global(textarea) {
    color: rgb(var(--venia-global-color-text));
}

:global(body) {
    background-color: rgb(var(--venia-global-color-gray-50));
    margin: 0;
    padding: 0;
}

:global(h1),
:global(h2),
:global(h3),
:global(h4),
:global(h5),
:global(h6) {
    font-size: var(--venia-global-fontSize-200);
    margin: 0;
}

:global(h1) {
    font-size: var(--venia-global-fontSize-600);
}

:global(h2) {
    font-size: var(--venia-global-fontSize-400);
}

:global(a) {
    color: currentColor;
    text-decoration: none;
}

:global(p) {
    margin: 0;
}

:global(dl),
:global(ol),
:global(ul) {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

:global(dd),
:global(dt) {
    margin: 0;
}

:global(button) {
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 100%;
    padding: 0;
    touch-action: manipulation;
    user-select: none;
    -webkit-appearance: none;
}

:global(button:disabled) {
    cursor: default;
    touch-action: none;
}

/* custom */
@font-face {
    font-family: 'Karla-Regular';
    src: url('/cenia-static/fonts/Jost-Regular.woff2') format('woff2'),
        url('/cenia-static/fonts/Jost-Regular.ttf') format('ttf'),
        url('/cenia-static/fonts/Jost-Regular.eot') format('eot'),
        url('/cenia-static/fonts/Jost-Regular.otf') format('otf'),
        url('/cenia-static/fonts/Jost-Regular.svg') format('svg'),
        url('/cenia-static/fonts/Jost-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Karla-Medium';
    src: url('/cenia-static/fonts/Jost-Medium.woff2') format('woff2'),
        url('/cenia-static/fonts/Jost-Medium.ttf') format('ttf'),
        url('/cenia-static/fonts/Jost-Medium.eot') format('eot'),
        url('/cenia-static/fonts/Jost-Medium.otf') format('otf'),
        url('/cenia-static/fonts/Jost-Medium.svg') format('svg'),
        url('/cenia-static/fonts/Jost-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Karla-Bold';
    src: url('/cenia-static/fonts/Jost-Bold.woff2') format('woff2'),
        url('/cenia-static/fonts/Jost-Bold.ttf') format('ttf'),
        url('/cenia-static/fonts/Jost-Bold.eot') format('eot'),
        url('/cenia-static/fonts/Jost-Bold.otf') format('otf'),
        url('/cenia-static/fonts/Jost-Bold.woff') format('woff'),
        url('/cenia-static/fonts/Jost-Bold.svg') format('svg');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

:root {
    --ced-max-width: 1440px;

    --primary-bodybg-color: #fcfcfc;
    --primary-base-color: #8dc74c;
    --primary-dark-color: #000000;
    --primary-border-color: #e4e4e4;
    --primary-error-color: #e40606;
    --primary-success-color: #018001;
    --primary-ratingstars-color: #ffbf00;
    --primary-light-color: #ffffff;
    --primary-text-color: #302525;
    --primary-slider-nav-color: #545d63;
    --primary-megamenu-color: #ffffff;
    --primary-box-shadow: 0px 0px 7px 0px rgb(179 179 179 / 20%);
    --secondary-mobile-newsletter-color: #f8efeb;
    --secondary-dark-color: #545d63;
    --secondary-404-bg-color: #fff6f6;

    --primary-top-header-color: #000000;
    --primary-mid-header-color: #ffffff;
    --primary-newsletter-color: #8dc74c;
    --primary-footer-color: #ffffff;
}

.project_dropdown {
    width: 100%;
    margin-top: 0px;
    border-radius: 3px;
    height: 35px;
}

div[class*='container'] {
    max-width: 1480px;
}

body,
html,
input,
select,
textarea,
span,
p,
a,
div,
li,
div {
    font-size: 14px;
    color: var(--primary-text-color);
    font-family: 'Karla-Regular', sans-serif;
    font-weight: 400;
}
a,
a:hover {
    text-decoration: unset !important;
}
button:focus {
    outline: unset !important;
}
body {
    overflow-x: hidden;
}
html[data-scroll-lock='true'],
html[data-scroll-lock='true'] body {
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
span[aria-hidden='true'],
label[aria-hidden='true'] {
    visibility: hidden;
    position: absolute;
    left: 0;
}

/* full screen header issue */
body[class='static_header_bottomtool']
    header[class='header-closed-a_N header-root-2P7'],
body[class='static_header_bottomtool'] div[class='main-bottom_toolbar-2Rc'] {
    position: unset;
}
input[disabled=''] {
    background: var(--venia-global-color-gray) !important;
    cursor: not-allowed;
    color: #b9b9b9;
}

/* rtl */
body[class='rtl_view'] {
    direction: rtl;
    text-align: right;
}
