.root {
    background: var(--primary-light-color);
    overflow: hidden;
}
.root:hover {
    box-shadow: var(--primary-box-shadow);
}
.noo_product_image {
    composes: noo_product_image from '../CedHome/home.css';
}
.images {
    display: grid;
    grid-template-areas: 'main';
}
.priceTag {
    position: absolute;
    right: 0px;
    margin-right: 10px;
    background: #8cc650;
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    z-index: 999;
}
.regularprice {
    display: inline-block;
    margin-left: 10px;
    position: relative;
}
.regularprice:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #b9b9b9;
    left: 0;
    top: 50%;
}
.regularprice span {
    font-size: 15px;
    color: #b9b9b9;
}

.boxlink {
    text-align: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.boxlink a {
    width: 100%;
    border: 2px solid var(--primary-base-color);
    color: white !important;
    padding: 10px 10px;
    border-radius: 4px;
    margin-top: 5px;
    display: inline-block;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    background: var(--primary-base-color);
}


span[class='quantity-picker'] {
    margin-bottom: 5px;
}

button[class='quantity-modifier modifier-left'] {
    padding: 12px;
}

button[class='quantity-modifier modifier-right'] {
    padding: 12px;
}

button[class='quantity-modifier modifier-left']:hover {
    background-color: #8dc74c;
    color: white;
}

button[class='quantity-modifier modifier-right']:hover {
    background-color: #8dc74c;
    color: white;
}

.project_dropdown {
    width: 100%;
    margin-top: 0px;
    border-radius: 3px;
    height: 35px;
    margin-bottom: 5px;
    border: 2px solid #e1e1e1;
}

.project_input {
    width: 80%;
    margin-top: 0px;
    border-radius: 3px;
    height: 35px;
    margin-bottom: 5px;
    border: 2px solid #e1e1e1;
}
.add_to_project{
    background: #007637;
    border-radius: 5px;
    padding: 10px 10px;
    display: block;
    min-height: 40px;
    line-height: 20px;
    width: 100%;
    color: white;
}
.add_to_project:hover {
    background: black;
}

.total_available {
    background: #8cc650;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    max-width: 150px;
}
.total_available_b {
    font-size: 10px;
}
.greenprice span {
    color: #8cc650;
}

.discountedprice span{
    color: red;
}

.discountedprice:after {
    background-color: red;
}
.imageContainer {
    grid-area: main;
}
.image {
    display: block;
    height: 100%;
    object-fit: contain;
    transition: opacity 512ms ease-out;
    width: 100%;
}

.imageLoaded {
    composes: loaded from '../Image/image.css';
    opacity: 1;
}

.imageNotLoaded {
    composes: notLoaded from '../Image/image.css';
    opacity: 0;
}

.imagePlaceholder {
    composes: image;
    background-color: rgb(var(--venia-global-color-gray));
}
.wishlist_addition {
}
.wishlist_addition svg {
    color: #d0d0d0;
    transition: 0.3s all;
}
.wishlist_added .wishlist_icon_wrap {
    background-color: var(--primary-base-color);
    border-color: var(--primary-base-color);
}
.wishlist_added svg,
.wishlist_icon_wrap:hover {
    color: var(--primary-light-color) !important;
}
.wishlist_icon_wrap {
    composes: wishlist_icon_wrap from '../CedHome/home.css';
}
.root:hover .wishlist_icon_wrap {
    opacity: 1;
    right: 10px;
}
.wishlist_icon {
}
.wishlist_icon_wrap:hover {
    background: var(--primary-base-color);
}
.add_to_cart_Wrap {
    composes: add_to_cart_Wrap from '../CedHome/home.css';
}
.add_to_cart_btn,
.add_to_cart_btn:hover {
    background: var(--primary-base-color);
    color: var(--primary-light-color);
    text-align: left;
    font-size: 14px;
    width: 100%;
    display: block;
    border-radius: 3px;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    position: relative;
    margin-bottom: 5px;
}
.add_to_cart_btn:hover {
    background: var(--primary-dark-color);
}
.add_to_cart_btn button,
.add_to_cart_btn a {
    color: var(--primary-light-color);
    padding: 10px 10px;
    display: block;
    min-height: 40px;
    line-height: 20px;
    width: 100%;
}
.root:hover .add_to_cart_Wrap {
    opacity: 1;
    visibility: visible;
}

.project_button {
    text-align: center;
    width: 18%;
    background: #8dc74c;
    height: 35px;
    border-radius: 5px;
    color: white;
    margin-left: 2%;
}

.project_dropdown {
    width: 100%;
    margin-top: 0px;
    border-radius: 3px;
    height: 35px;
    margin-bottom: 5px;
    border: 2px solid #e1e1e1;
}
.noo_details_wrapper {
    composes: noo_details_wrapper from '../CedHome/home.css';
}
.vendor_price_wrap {
    composes: vendor_price_wrap from '../CedHome/home.css';
    margin: 5px 0;
}
.vendor_name {
    composes: vendor_name from '../CedHome/home.css';
}
.price {
}
.price span {
    font-size: 15px;
    font-family: 'Karla-Medium' !important;
    display: inline-block;
}
.product_name {
    composes: product_name from '../CedHome/home.css';
    margin: 0;
    min-height: 50px;
}
.root:hover .noo_details_wrapper {
    bottom: 0;
}
.root:hover .product_name > a span {
    color: var(--primary-base-color);
}

.colors_stars_wrap {
    composes: colors_stars_wrap from '../CedHome/home.css';
}
.colors_wrap {
    composes: colors_wrap from '../CedHome/home.css';
}
.colors_inner {
    composes: colors_inner from '../CedHome/home.css';
}
.extra_colors {
    composes: extra_colors from '../CedHome/home.css';
}
.stars_wap {
    composes: stars_wap from '../CedHome/home.css';
}
.not_reviewed {
    composes: not_reviewed from '../CedHome/home.css';
}
.reviewed {
    composes: reviewed from '../CedHome/home.css';
}
.root_pending {
    composes: root;
}

.image_pending {
    composes: image;
    background-color: rgb(var(--venia-grey));
}

.images_pending {
    composes: images;
}

.name_pending {
    /* composes: name; */
    background-color: rgb(var(--venia-grey));
}

.price_pending {
    composes: price;
    background-color: rgb(var(--venia-grey));
    width: 3rem;
}

.unavailableContainer {
    align-items: center;
    background-color: rgb(var(--venia-global-color-gray));
    color: rgb(var(--venia-global-color-gray-darker));
    column-gap: 0.5rem;
    display: grid;
    font-style: italic;
    grid-auto-flow: column;
    justify-content: start;
    padding: 0.75rem;
    width: 100%;
    font-size: var(--venia-global-fontSize-100);
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .add_to_cart_Wrap {
        opacity: 1;
        visibility: visible;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .add_to_cart_Wrap {
        opacity: 1;
        visibility: visible;
    }
    .price span {
        font-size: 13px;
    }
    .root {
        flex: 0 0 48%;
        min-width: 48%;
        border-radius: 0;
    }
    .add_to_cart_btn,
    .add_to_cart_btn:hover {
        width: 70%;
    }
}
