.errorMessage div,
.errorMessage {
    color: var(--primary-error-color);
    display: block;
    padding: 0;
}
.errorMessage a {
    color: var(--primary-slider-nav-color);
    text-decoration: underline !important;
}
