.root {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
}

.text {
    padding: 0.25rem;
    color: var(--primary-base-color);
}

.divider {
    color: var(--primary-text-color);
    composes: text;
}

.link {
    composes: text;
    text-decoration: underline;
    color: var(--primary-text-color);
}
.link:hover {
    color: var(--primary-text-color);
}

.currentCategory {
    composes: text;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .root {
        padding: 25px 15px 10px 15px;
    }
}
