.root {
    height: 100%;
    left: 100vw;
    opacity: 0;
    position: fixed;
    top: 0;
    transition-duration: 192ms;
    transition-property: opacity, visibility;
    transition-timing-function: var(--venia-global-anim-out);
    visibility: hidden;
    width: 100%;
    z-index: 3;
}

.root_open {
    composes: root;
    left: 0;
    opacity: 1;
    transition-duration: 224ms;
    transition-timing-function: var(--venia-global-anim-in);
    visibility: visible;
    background: #172126b3;
}

.contents {
    background-color: var(--primary-light-color);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    display: grid;
    min-height: 100vh;
    overflow: hidden;
    position: fixed;
    right: -100%;
    top: -5px;
    transform: translate3d(0, -8px, 0);
    transition-duration: 192ms;
    transition-property: transform;
    transition-timing-function: var(--venia-global-anim-out);
    width: 30rem;
    bottom: 0;
    transition: all 0.9s ease;
}

.contents_open {
    composes: contents;
    right: 0;
    transform: translate3d(0, 4px, 0);
    transition-duration: 224ms;
    transition-timing-function: var(--venia-global-anim-in);
}
.overlay {
}
.header {
    align-items: center;
    border-bottom: 1px dashed var(--primary-border-color);
    display: grid;
    grid-template-columns: 1fr auto;
    line-height: var(--venia-global-typography-heading-lineHeight);
    margin: 0 1rem;
    padding: 1rem 0.5rem 1rem;
    row-gap: 1rem;
}
.header.minicarT_header {
    margin: 0;
    padding: 0px 10px;
    height: 50px;
    border: 0;
    box-shadow: var(--primary-box-shadow);
}
.minicarT_header span {
    font-size: 20px;
    font-family: 'Karla-Medium';
}
.items_wrap {
    max-height: 30px;
    padding: 0;
}
.stockStatusMessageContainer {
    grid-column-end: span 2;
}

.stockStatusMessageContainer:empty {
    display: none;
}

.body {
    min-height: calc(100vh - 245px);
    overflow-y: scroll;
    /* padding: 15px 15px 15px 15px; */
}

.quantity {
    opacity: 1;
    transition-delay: 64ms;
    transition-duration: 384ms;
    transition-property: opacity;
    transition-timing-function: var(--venia-global-anim-standard);
    color: var(--primary-slider-nav-color);
}

.quantity_loading {
    composes: quantity;
    opacity: 0.5;
}

.price {
    opacity: 1;
    transition-delay: 64ms;
    transition-duration: 384ms;
    transition-property: opacity;
    transition-timing-function: var(--venia-global-anim-standard);
}

.price_loading {
    composes: quantity;
    opacity: 0.5;
}

.footer {
    align-items: center;
    display: grid;
    gap: 0.5rem;
    font-size: var(--venia-typography-body-S-fontSize);
    justify-items: center;
    line-height: var(--venia-typography-body-lineHeight);
    min-height: 3rem;
    overflow: hidden;
    padding: 1rem;
    background: var(--primary-newsletter-color);
}

.checkoutButton {
    composes: root_highPriority from '../Button/button.css';
    grid-column: 1 / span 1;
    width: 10rem;
    margin: auto;
}

.editCartButton,
.editCartButton span {
    text-decoration: underline;
    color: var(--primary-dark-color);
}

.emptyCart {
    display: grid;
    gap: 2rem;
    min-height: 100vh;
}
.emptyCart_img {
    margin: 0 auto;
}
.emptyMessage {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    min-height: calc(100vh - 55px);
    padding: 15px;
    align-items: center;
    display: flex;
}
.mincartNevigation {
    align-content: center;
    height: 50px;
    z-index: 1;
    position: fixed;
    top: 0;
    background: var(--primary-light-color);
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0;
}
.navHeading {
    align-items: center;
    display: inline-flex;
    margin-bottom: 0;
}
.navHeading span {
    font-size: 18px !important;
}
.close {
    align-items: center;
    display: inline-flex;
    cursor: pointer;
}
.close img {
    max-width: 18px;
}

/* rtl */
body[class='rtl_view'] .contents {
    left: -100%;
    right: unset;
}
body[class='rtl_view'] .contents_open {
    left: 0;
    right: unset;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .contents {
        width: 100%;
    }
}
