.slider_indicator {
    align-items: center;
    display: grid !important;
    grid-auto-flow: column;
    justify-content: center;
    margin: -35px 0;
}
.slider_indicator li {
    width: 10px !important;
    background: var(--primary-slider-nav-color) !important;
    border-radius: 50%;
    padding: 0 !important;
    height: 10px !important;
    background-clip: unset !important;
    transition: 0.3s all;
    border: 0 !important;
}
.slider_indicator li:hover {
    filter: brightness(80%);
}
.slider_indicator li[class='active'] {
    background: var(--primary-dark-color) !important;
    min-width: 30px;
    border-radius: 7px !important;
}
.thumbs.animated {
    display:none !important;
}
.section_banner img {
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
    min-width: 1351px;
}
div[class='carousel-item active'] div {
    max-width: unset;
}
.homepage_sections {
    animation-name: topFadeOut;
    animation-duration: 1s;
    margin: 35px 0;
}

.homepage_single_image {
    text-align: center;
}

.homepage_single_image img {
    max-width: 1480px;
    margin: auto;
    width: 100%;
}

.homepage_widget_container {
    max-width: 1480px;
    margin: auto;
    margin-top: 30px;
}

.brands-list-sherpagroup {
    display: flex;
    flex-wrap: wrap;
}

.brands-list-sherpagroup .item {
    margin: 10px;
    height: 240px;
    width: calc(25% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-position: center !important;
    background-size: cover !important;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}

.brands-list-sherpagroup .item img {
    transition: opacity 500ms;
    max-width: 80%;
}

.button_new {
    text-align: center;
    margin-top:40px;
    border-bottom: 2px solid #8dc74c;
    border-right: 2px solid #8dc74c;
    border-left: 2px solid #8dc74c;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0px 0;
    margin-bottom: 80px;
}


.button_new a {
    width: 200px;
    border: 2px solid var(--primary-base-color);
    color: var(--primary-base-color);
    padding: 10px 30px;
    border-radius: 4px;
    margin-top: 5px;
    display: inline-block;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    position: relative;
    top: 23px;
    background: white;
    color: var(--primary-base-color);
}

.button_new a:hover {
    background: var(--primary-base-color);
    color: var(--primary-light-color);
}

/* top cat section */
h2[class='homepage_section_heading'],
.homepage_section_heading {
    font-size: 30px;
    font-family: 'Karla-Medium';
    margin: 0 0 5px 0;
    color: var(--primary-dark-color);
    text-align: center;
}
div[class='homepage_sections_head'] p,
.section_heading p {
    font-size: 14px;
    margin: 0;
    color: var(--primary-dark-color);
}
div[class='categories_banners homepage_sections_content'] {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
}
div[class='banner_image_details_wrap'] {
    background: var(--primary-light-color);
    padding-bottom: 10px;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
}
div[class='banner_image_details_wrap'] > a:first-child {
    overflow: hidden;
    display: block;
}
div[class='banner_image_details_wrap'] > a:first-child picture img {
    width: 100%;
    display: block;
}
div[class='large_cat_banner cat_banner_inner'],
div[class='short_cat_banner cat_banner_inner'] {
    padding: 25px 5px 0 5px;
}
div[class='short_cat_banner cat_banner_inner'] {
    flex: 0 0 33.3%;
    min-width: 33.3%;
    transition: 0.3s all;
}
div[class='short_cat_banner cat_banner_inner'] img {
    margin: 0;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 1s;
}
div[class='short_cat_banner cat_banner_inner']:hover img {
    -ms-transform: scale3d(1.1, 1.1, 1);
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -moz-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}
h3[class='cat_name'] {
    margin: 10px 10px 0px 10px !important;
    font-size: 18px !important;
    font-family: 'Karla-Medium';
}
a[class='cat_link'] {
    display: inline-block;
    font-size: 15px;
    color: var(--primary-dark-color);
    margin: 5px 10px 0 10px;
    position: relative;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}
a[class='cat_link']::after,
a[class='cat_link']::before {
    left: 0;
    height: 1px;
    width: 100%;
    content: '';
    bottom: 0px;
    position: absolute;
    background-color: var(--primary-dark-color);
}
a[class='cat_link']::before {
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
a[class='cat_link']::after {
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    background-color: var(--primary-text-color);
    -webkit-transition: -webkit-transform 0.3s ease 0.2s;
    transition: -webkit-transform 0.3s ease 0.2s;
    -o-transition: transform 0.3s ease 0.2s;
    transition: transform 0.3s ease 0.2s;
    transition: transform 0.3s ease 0.2s, -webkit-transform 0.3s ease 0.2s;
}
a[class='cat_link']::after {
    background-color: var(--primary-base-color);
}
div[class='banner_image_details_wrap']:hover a[class='cat_link'] {
    color: var(--primary-base-color);
}
div[class='banner_image_details_wrap']:hover a[class='cat_link']::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
div[class='banner_image_details_wrap']:hover a[class='cat_link']::before {
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}
/* mid banner */
div[class='mid-banner_image_Wrap'] img {
    margin: 0;
    width: 100%;
}

/* products slider */
.error_msg {
    padding: 10px;
    color: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
    font-size: 14px;
    margin-top: 25px;
}
.error_msg svg {
    margin-right: 10px;
}
.error_msg span {
    color: var(--primary-text-color);
}
.h_products {
    background: var(--primary-light-color);
    padding: 20px 0 10px 0;
}
.products_grid_item {
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -webkit-transition: 0.3s all;
    overflow: hidden;
    background: var(--primary-light-color);
}
.products_grid_item:hover {
    box-shadow: var(--primary-box-shadow);
}
.noo_product_inner {
    background: var(--primary-light-color);
    overflow: hidden;
}
.noo_product_image {
    position: relative;
}
.noo_product_image a {
    display: block;
    position: relative;
    overflow: hidden;
}
.noo_product_image img {
    height: 300px;
    object-fit: contain;
}
.wishlist_icon_wrap {
    width: 30px;
    height: 30px;
    background: var(--primary-light-color);
    position: absolute;
    top: 10px;
    box-shadow: var(--primary-box-shadow);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s all;
    -moz-transition: 0.3s all;
    -webkit-transition: 0.3s all;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    right: -30px;
    opacity: 0;
    border: 1px solid var(--primary-border-color);
}
.noo_product_inner:hover .wishlist_icon_wrap {
    opacity: 1;
    right: 10px;
}
.wishlist_icon {
}
.wishlist_icon_wrap img {
    width: 25px !important;
    height: 25px !important;
}
.wishlist_icon_wrap:hover {
    background: var(--primary-base-color);
}
.wishlist_icon_wrap:hover img {
    filter: invert(1);
}

.project_dropdown {
    width: 100%;
    margin-top: 10px;
    border-radius: 3px;
    height: 35px;
}

.add_to_cart_Wrap {
    margin-top: 10px;
    /*visibility: hidden;*/
    opacity: 1;
    gap: 10px;
    display: inline;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.project_button {
    text-align: center;
    width: 18%;
    background: #8dc74c;
    height: 35px;
    border-radius: 5px;
    color: white;
    margin-left: 2%;
}

.project_dropdown {
    width: 100%;
    margin-top: 0px;
    border-radius: 3px;
    height: 35px;
    margin-bottom: 5px;
    border: 2px solid #e1e1e1;
}

.project_input {
    width: 80%;
    margin-top: 0px;
    border-radius: 3px;
    height: 35px;
    margin-bottom: 5px;
    border: 2px solid #e1e1e1;
}

.boxlink {
    text-align: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.boxlink a {
    width: 100%;
    border: 2px solid var(--primary-base-color);
    color: white !important;
    padding: 10px 10px;
    border-radius: 4px;
    margin-top: 5px;
    display: inline-block;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    background: var(--primary-base-color);
}

.add_to_cart_btn,
.add_to_cart_btn:hover {
    background: var(--primary-base-color);
    color: var(--primary-light-color);
    text-align: center;
    padding: 10px 10px;
    font-size: 14px;
    width: 100%;
    display: block;
    border-radius: 3px;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    margin-bottom: 5px;
}
.add_to_cart_btn:hover {
    background: var(--primary-dark-color);
}
.noo_product_inner:hover .noo_details_wrapper {
    bottom: 0;
}
.noo_product_inner:hover .add_to_cart_Wrap {
    visibility: visible;
    opacity: 1;
}
.add_to_cart_Wrap button[class='compare-add_to_compare-ggx'] span {
    background: unset !important;
    width: unset;
    height: unset;
    line-height: 10px;
}
.noo_details_wrapper {
    padding: 10px;
    background: var(--primary-light-color);
    position: relative;
    bottom: 0px;
    transition: 0.3s all;
}
.vendor_price_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
}
.vendor_name {
    font-size: 12px;
    color: var(--primary-text-color);
    display: inline-block;
    flex: 0 0 50%;
    min-width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.price {
    font-size: 15px;
    font-family: 'Karla-Medium' !important;
    display: inline-block;
    margin-right: 10px;
}
.product_name {
    margin: 0;
}
.product_name a {
    font-size: 15px;
    color: var(--primary-dark-color);
    display: block;
    text-overflow: ellipsis;
    white-space: initial;
    overflow: hidden;
    line-height: 23px;
    width: calc(100% - 30px);
}
.noo_product_inner:hover .product_name > a {
    color: var(--primary-base-color);
}
.price_wrapp {
}
.price_wrapp .old {
    color: #947f7f;
    text-decoration: line-through;
}
.colors_stars_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.colors_wrap {
    display: inline-flex;
    align-items: center;
}
.colors_inner {
    display: inline-flex;
    background: #5b8af9;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 50%;
    text-indent: -9999px;
    overflow: hidden;
    text-align: left;
    box-shadow: inset 0 0 10px #00000012;
}
.extra_colors {
    font-size: 12px;
    color: var(--primary-text-color);
    cursor: pointer;
    line-height: 14px;
}
.stars_wap {
    position: relative;
}
.not_reviewed {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    display: block;
    overflow: hidden;
    color: var(--primary-ratingstars-color);
    white-space: nowrap;
    line-height: 13px;
}
.reviewed {
    display: block;
    white-space: nowrap;
    color: var(--primary-border-color);
    line-height: 13px;
}
.reviewed svg,
.not_reviewed svg {
    font-size: 10px;
    margin-right: 2px;
}
.reviewed,
.not_reviewed {
    display: flex;
    align-items: center;
}
.owl_thme_design {
    z-index: 0 !important;
    margin: 10px 0 0 0;
}
.h_products button span,
span[aria-label='slider Previous btn'],
span[aria-label='slider next btn'] {
    font-size: 26px;
    background-color: #000;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 27px;
    color: var(--primary-light-color);
    transition: 0.3s all;
}
span[aria-label='slider Previous btn'],
span[aria-label='slider next btn'] {
    opacity: 1;
    visibility: visible;
}
button[class='owl-prev'],
button[class='owl-next'] {
    position: absolute;
    top: 30%;
    border-radius: 100% !important;
    transition: 0.3s all;
}
button[class='owl-prev']:hover span,
button[class='owl-next']:hover span {
    color: var(--primary-light-color);
    background: var(--primary-base-color);
}
button[class='owl-prev'] {
    left: 0;
}
button[class='owl-next'] {
    right: 0;
}
.h_products button span:hover {
    box-shadow: var(--primary-box-shadow);
    color: var(--primary-light-color);
}
.owl_thme_design:hover button span {
    opacity: 1;
    visibility: visible;
}

/* three blocks section */
div[class='three_blocks_banner_inner'] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
div[class='three_blocks_inner'] {
    flex: 0 0 33.3%;
    min-width: 33.3;
    padding: 5px;
}
div[class='three_blocks_inner1'] {
    position: relative;
}
div[class='three_blocks_image'] {
    transition: 0.3s all;
    -moz-transition: 0.3s all;
    -webkit-transition: 0.3s all;
    height: 420px;
    position: relative;
}
div[class='three_blocks_inner1']:hover div[class='three_blocks_image']::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #0200008f;
    width: 100%;
    height: 100%;
}
div[class='three_blocks_image'] img {
    margin: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
div[class='three_blocks_btn_wrap'] {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    margin-top: -21px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
    -moz-transition: 0.3s all;
    -webkit-transition: 0.3s all;
}
div[class='three_blocks_inner1']:hover div[class='three_blocks_btn_wrap'] {
    opacity: 1;
    visibility: visible;
}
button[class='three_block_btn'] {
    width: 100%;
    background: var(--primary-light-color);
    text-align: center;
    color: var(--primary-dark-color);
    font-size: 15px;
    padding: 10px;
}
/* features section */
.feature_block {
}
div[class='container features-section'] {
    border: 2px solid var(--primary-border-color);
    padding: 30px 15px;
}
div[class='features_items'] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
div[class='features_items']::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 2px;
    height: 20px;
    background: var(--primary-border-color);
    margin-top: -10px;
}
div[class='container features-section']
    div[class='col-lg-3 col-md-3 col-sm-6 col-xs-12']:last-child
    div[class='features_items']::after {
    display: none;
}
div[class='icons_f'] img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin: 0;
    filter: sepia(1);
}
div[class='content_f'] {
    padding-left: 15px;
}
div[class='content_f'] h4 {
    display: none;
}
div[class='content_f'] p {
    color: var(--primary-dark-color);
    font-size: 14px;
    margin: 0;
}

/* cms page design */
div[class='content_page'] {
    background: var(--primary-light-color);
    box-shadow: var(--primary-box-shadow);
    padding: 15px;
    margin: 30px 0;
}
div[class='content_page'] h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
}
p[class='cms-content-important'] {
    padding: 10px 0 !important;
    font-size: 14px !important;
}
ul[class='about_list'] {
    padding: 0;
    list-style: none;
}
ul[class='about_list'] li {
    padding: 0 !important;
}
div[class='content_page'] ul a,
div[class='content_page'] ul a:hover {
    color: var(--primary-base-color);
    padding: 10px 0;
    display: inline-block;
}
h3[class='content_page_heading'] {
    margin-bottom: 30px !important;
    font-weight: 700 !important;
}
div[class='blog-content-page'] iframe {
    width: 100%;
    margin-top: 15px;
}

/* rtl */
body[class='rtl_view'] .price {
    margin-left: 10px;
    margin-right: 0;
}
body[class='rtl_view'] .owl_thme_design {
    direction: ltr;
}
body[class='rtl_view'] div[class='owl-stage'] {
    display: rtl;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .section_banner img {
        height: 290px;
        object-fit: unset;
        min-width: unset;
    }
    div[class='mid-banner_image_Wrap'] img {
        object-fit: contain;
    }
    .noo_details_wrapper {
        bottom: 0;
    }
    div[class='short_cat_banner cat_banner_inner'] {
        flex: 0 0 50%;
        min-width: 50%;
    }
    .add_to_cart_Wrap {
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .contact_page_wrapper .contact_form {
        padding: 15px;
        background: #fff;
    }
    button[class='owl-prev'] span,
    button[class='owl-next'] span,
    .noo_details_wrapper .add_to_cart_Wrap {
        opacity: 1 !important;
        visibility: visible !important;
    }
    .h_products .h_products_column {
        overflow: hidden;
        padding: 0;
    }
    .owl_thme_design {
        overflow: hidden;
    }
    .h_products button span,
    span[aria-label='slider Previous btn'],
    span[aria-label='slider next btn'] {
        font-size: 22px;
        opacity: 1;
        visibility: visible;
        width: 30px;
        height: 30px;
        line-height: 27px;
        box-shadow: var(--primary-box-shadow);
        direction: ltr;
    }
    .homepage_sections {
        margin: 0px 0;
    }
    div[class='short_cat_banner cat_banner_inner'] {
        flex: 0 0 50%;
        min-width: 50%;
    }
    div[class='large_cat_banner cat_banner_inner'],
    div[class='short_cat_banner cat_banner_inner'] {
        padding: 15px 5px 0 5px;
    }
    a[class='cat_link'] {
        color: var(--primary-base-color);
    }
    a[class='cat_link']::after,
    a[class='cat_link']::before {
        background-color: var(--primary-base-color);
    }
    h3[class='cat_name'] {
        font-size: 14px !important;
    }
    .noo_details_wrapper {
        bottom: 0;
    }
    .product_name {
        margin: 2px 0 6px 0;
    }
    a[class='cat_link'],
    div[class='homepage_sections_head'] p,
    .section_heading p,
    .product_name a,
    .price,
    div[class='content_f'] p {
        font-size: 14px !important;
    }
    h2[class='homepage_section_heading'],
    .homepage_section_heading {
        font-size: 20px !important;
        padding: 0 10px;
    }
    .vendor_name {
        font-size: 11px !important;
    }
    .stars_wap {
        margin-top: 5px;
        flex: 0 0 100%;
        min-width: 100%;
    }
    div[class='three_blocks_inner'] {
        flex: 0 0 100%;
        min-width: 100%;
        padding: 0;
        margin-bottom: 15px;
    }
    div[class='three_blocks_image'] {
        height: 350px;
    }
    div[class='three_blocks_btn_wrap'] {
        top: 94%;
        opacity: 1;
        visibility: visible;
    }
    button[class='three_block_btn'] {
        background: var(--primary-dark-color);
        color: var(--primary-light-color);
    }
    div[class='container features-section'] {
        border: unset;
        padding: 15px 15px 0 15px;
    }
    div[class='container features-section']
        div[class='col-lg-3 col-md-3 col-sm-6 col-xs-12'] {
        margin-bottom: 10px;
        width: 50%;
    }
    div[class='features_items'] {
        padding: 10px;
        height: 100%;
        margin: 0px -10px;
        background: var(--primary-light-color);
    }
    div[class='features_items']::after {
        display: none;
    }
    div[class='icons_f'] img {
        width: 30px;
        height: 30px;
    }
    div[class='content_f'] {
        padding-left: 0;
        margin-top: 5px;
        min-width: 100%;
        text-align: center;
    }
    .wishlist_icon_wrap {
        opacity: 1;
        right: 10px;
    }
    div[class='homepage_sections_head'] p,
    .section_heading p {
        display: none;
    }
    div[class='banner_image_details_wrap'],
    div[class='mid-banner_image_Wrap'] img,
    .products_grid_item {
        border-radius: 10px;
        height: auto;
        width: 100%;
    }
    div[class='short_cat_banner cat_banner_inner'] img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: auto;
        width: 100%;
    }
    .h_products {
        padding: 10px 0;
        margin: 0;
    }
    .mid_banner_sec_wrap {
        margin: 0;
        padding: 10px 0;
    }
    .our_cat_section {
        margin: 0;
        padding: 20px 0 20px 0;
    }
    .colors_inner {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }
    .add_to_cart_btn,
    .add_to_cart_btn:hover {
        width: 70%;
    }
}
@media screen and (min-width: 320px) and (max-width: 576px) {
    .section_banner img {
        height: 145px;
        object-fit: unset;
        min-width: unset;
    }
}
